# DIS08 / OR92 Data Modeling: Python - Introduction (Setup, file management, etc.)

In this lecture, we’ll cover and recap the basics of Python programming, including:

- Python data structures: lists, tuples, dictionaries, and sets.
- Basic file management: reading from and writing to files.
- String handling: manipulation of text data and regular expressions.

In the lab assignments, you will setup your Python development environment, rerun this notebook, and get started with the `pandas` library.

If you would like to study Python more in-depth, we recommend the book [Automate the Boring Stuff With Python](https://automatetheboringstuff.com/). This book also inspired some of the contents in this notebook.

1. Basic Syntax

In [ ]:
# This is a comment in Python

In [1]:
# Print "Hello, World!" to the console
print("Hello, World!")

Hello, World!

In [2]:
# Variable assignment
x = 5  
x

5

2. Data Types

In [3]:
# Integer type
integer_num = 10
type(integer_num)

int

In [4]:
# Float type
float_num = 3.14
type(float_num)

float

In [5]:
# String type
str_val = "Python"
type(str_val)

str

3. Basic Operators

In [6]:
a = 10
b = 3

In [7]:
# Addition
print(a + b)

13

In [8]:
# Subtraction
print(a - b)

7

In [9]:
# Multiplication
print(a * b)

30

In [10]:
# Division
print(a / b)

3.3333333333333335

In [11]:
# Modulus (remainder)
print(a % b)

1

In [12]:
# Exponentiation
print(a ** b)

1000

4. Control Structures

In [13]:
# If-Else statement
x = 5
if x > 0:
    print("Positive")
elif x < 0:
    print("Negative")
else:
    print("Zero")

Positive

In [14]:
# For loop
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
# While loop
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

## Data Structures

In [16]:
# List
my_list = [1, 2, 3, 4, 5]
print(my_list[0])  # Accessing elements

# Tuple (immutable list)
my_tuple = (6, 7, 8)
print(my_tuple[0])

# Dictionary (key-value pairs)
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict["name"])

# Set
my_set = {"apple", "banana", "cherry"}
print(my_set)

1
6
John
{'banana', 'apple', 'cherry'}

A list is a collection which is ordered and changeable. It allows duplicate members.

In [17]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
print(fruits)

# Adding an item
fruits.append("orange")
print(fruits)

# Accessing items
print(fruits[1])

# Removing an item
fruits.remove("banana")
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
banana
['apple', 'cherry', 'orange']

A tuple is a collection which is ordered but unchangeable (immutable). It allows duplicate members.

In [18]:
# Creating a tuple
my_tuple = ("apple", "banana", "cherry")
print(my_tuple)

# Accessing items
print(my_tuple[1])

# Tuples are immutable, so the following code will cause an error:
# my_tuple[1] = "orange"

('apple', 'banana', 'cherry')
banana

A dictionary is a collection which is unordered, changeable, and indexed. It does not allow duplicates.

In [19]:
# Creating a dictionary
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print(person)

# Accessing values
print(person["name"])

# Modifying a value
person["age"] = 26
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
Alice
{'name': 'Alice', 'age': 26, 'city': 'New York'}

6. Functions

In [20]:
def greet(name):
    """This function greets the person passed in as parameter"""
    print(f"Hello, {name}!")

greet("Alice")  # Output: Hello, Alice!

Hello, Alice!

A set is a collection which is unordered, unindexed, and does not allow duplicate members.

In [21]:
# Creating a set
my_set = {"apple", "banana", "cherry"}
print(my_set)

# Adding an item
my_set.add("orange")
print(my_set)

# Removing an item
my_set.remove("banana")
print(my_set)

{'banana', 'apple', 'cherry'}
{'banana', 'apple', 'cherry', 'orange'}
{'apple', 'cherry', 'orange'}

## Basic File Management in Python

You can also use many command line tools in a Jupyter notebook. We use `echo` to create a first text file.

In [22]:
!echo "This is the beginning of a new file!\n" >> example.txt

To read a file, use the open() function in reading mode ('r').

In [23]:
# Reading from a file
file = open("example.txt", "r")

# Read the entire content of the file
content = file.read()
print(content)

# Always remember to close the file after you're done
file.close()

"This is the beginning of a new file!\n"

To write to a file, use the open() function in write mode ('w').

In [24]:
# Writing to a file
file = open("example.txt", "w")
file.write("Hello, World!\nThis is a new line.")
file.close()

You can also append data to an existing file using append mode ('a').

In [25]:
# Appending to a file
file = open("example.txt", "a")
file.write("\nThis is an appended line.")
file.close()

It’s a good practice to use the `with` statement when working with files to ensure the file is properly closed after the operations.

In [26]:
# Using 'with' statement to open and read a file
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

Hello, World!
This is a new line.
This is an appended line.

## String Handling in Python

Python provides a variety of methods for manipulating and handling strings.

In [27]:
# Concatenating strings
greeting = "Hello"
name = "Alice"
message = greeting + ", " + name + "!"
print(message)

Hello, Alice!

**String Formatting:** You can format strings using the format() method or f-strings (in Python 3.6+).

In [28]:
# Using format method
message = "Hello, {}!".format(name)
print(message)

# Using f-strings (Python 3.6+)
message = f"Hello, {name}!"
print(message)

Hello, Alice!
Hello, Alice!

**String Methods:** Some common string methods in Python include upper(), lower(), replace(), and split().

In [29]:
# Changing case
text = "Hello, World!"
print(text.upper())
print(text.lower())

# Replacing parts of a string
print(text.replace("World", "Python"))

# Splitting a string
words = text.split(", ")
print(words)

HELLO, WORLD!
hello, world!
Hello, Python!
['Hello', 'World!']

**Regular expressions:** The re.search() function searches for a match in a string.

In [30]:
import re

# Search for the word 'Python' in a string
text = "Welcome to Python programming!"
pattern = "Python"

# Search for the pattern
match = re.search(pattern, text)

# The re.search() function looks for the word “Python” in the text. If found, it returns a match object, otherwise None.
if match:
    print("Match found!")
else:
    print("No match.")

Match found!

## Quiz time!

**Question:** What will be the output of the following code?

In [31]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits[1])

banana

A) "apple"  
B) "banana"  
C) "cherry"  
D) ["apple", "banana", "cherry", "orange"]

**Question:** What error will the following code produce?

In [32]:
colors = ("red", "green", "blue")
colors[1] = "yellow"

TypeError: 'tuple' object does not support item assignment

A) TypeError: 'tuple' object does not support item assignment  
B) IndexError: tuple index out of range  
C) No error, it works fine  
D) AttributeError: 'tuple' object has no attribute 'append'

**Question:** What will be the value of car["year"] after running the following code?

In [33]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car["year"] = 2022
print(car["year"])

2022

A) 1964  
B) 2022  
C) None  
D) KeyError: 'year'

**Question:** What will happen if the following code is executed, and example.txt doesn’t exist in the directory?

In [34]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

Hello, World!
This is a new line.
This is an appended line.

A) It will create a new file named example.txt.  
B) It will throw a FileNotFoundError.  
C) It will print an empty string.  
D) It will print None.

**Question:** What will be the value of message in the following code?

In [35]:
name = "Alice"
greeting = "Hello"
message = greeting + ", " + name + "!"
print(message)

Hello, Alice!

A) "Hello Alice"  
B) "Hello, Alice!"  
C) "Hello Alice!"  
D) ", Alice!"

**Question:** What will the following code output?

In [36]:
text = "Welcome to Python"
print(text.upper())

WELCOME TO PYTHON

A) WELCOME TO PYTHON  
B) welcome to python  
C) Welcome To Python  
D) Welcome to python

**Question:** What happens if you try to add a duplicate item to a set?

In [37]:
my_set = {"apple", "banana", "cherry"}
my_set.add("banana")
print(my_set)

{'banana', 'apple', 'cherry'}

A) The set will now contain two "banana" items.  
B) The set will raise an error.  
C) The set will remain unchanged.   
D) The set will reorder itself.

**Question:** What is the correct way to format a string using f-strings in the following code?

In [38]:
name = "Alice"
age = 25
message = f"My name is ... and I am ... years old."
print(message)

My name is ... and I am ... years old.

A) f"My name is {name} and I am {age} years old."  
B) f"My name is name and I am age years old."  
C) "My name is {name} and I am {age} years old."  
D) "My name is name and I am age years old."

**Question:** What will be the output of the following code?

In [39]:
numbers = [10, 20, 30, 40, 50]
print(numbers[-2])

40

A) 20  
B) 40  
C) 30  
D) 50

**Question:** What will the following code output?

In [40]:
person = {
    "name": "John",
    "age": 30
}
print("height" in person)

False

A) True  
B) False  
C) None  
D) KeyError: 'height'

## Lab Assignments

Download this notebook from Moodle and rerun the examples from today's lecture. If you can execute all of the code cells above you are done! The setup guide below will help you to get started!

Once, you have setup your Python/Jupyter environment, please do the following task:

- Download this [dataset](https://librarycarpentry.org/lc-python-intro/files/data.zip) and extract it (do not commit it to this repository).
- Get familiar with the [pandas](https://pandas.pydata.org/) library and install it in your Python environment.
- Load one or more of the CSV files in the data/ directory as a DataFrame.
- Use the functions `info()`, `head()`, `tail()`, `describe()`, and the variable `columns` to get some basic information about the data. Also document and describe the outputs.
- How do you get the first/last ten rows of the DataFrame?
- How do you get the rows between row 30 and row 40?
- How do you get a specific column, e.g., 'year'? What kind of `type()` has the column?
- What is the `*.pkl` file? How do load it into your program and what are the data contents in it?
- What is the purpose of `.loc()` and `.iloc()`?
- How do you sort values in a column?

When you have completed the tasks, please commit this notebook to your GitHub repository in the directory `assignments/06/`.

In [42]:
# Load one of the CSV files as a DataFrame.

import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('data/2017_circ.csv')

# Load the pickle file into another DataFrame
df_long = pd.read_pickle('data/df_long.pkl')

print("\nUsing .iloc() for integer-based indexing:")
print(df.iloc[0, 0])  # Accesses the first row, first column value.

Using .iloc() for integer-based indexing:
Altgeld

**Documented Outputs:**
- `info()`: Provides an overview of the DataFrame, showing the number of entries, data types, and memory usage.
- `head()`: Displays the first few rows of the dataset for a quick preview.
- `tail()`: Displays the last few rows of the dataset for a quick preview.
- `describe()`: Generates summary statistics (mean, std, min, max, etc.) for numerical columns.
- `columns`: Lists all column names.

In [43]:
# Basic Information about the Data

print("Info:")
print(df.info())  # Displays the structure of the DataFrame, including data types and non-null counts.

print("\nHead:")
print(df.head())  # Displays the first 5 rows of the DataFrame.

print("\nTail:")
print(df.tail())  # Displays the last 5 rows of the DataFrame.

print("\nDescribe:")
print(df.describe())  # Summary statistics for numerical columns.

print("\nColumns:")
print(df.columns)  # Lists all column names.

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   branch     80 non-null     object
 1   address    0 non-null      float64
 2   city       0 non-null      float64
 3   zip code   0 non-null      float64
 4   january    80 non-null     int64
 5   february   80 non-null     int64
 6   march      80 non-null     int64
 7   april      80 non-null     int64
 8   may        80 non-null     int64
 9   june       80 non-null     int64
 10  july       80 non-null     int64
 11  august     80 non-null     int64
 12  september  80 non-null     int64
 13  october    80 non-null     int64
 14  november   80 non-null     int64
 15  december   80 non-null     int64
 16  ytd        80 non-null     int64
dtypes: float64(3), int64(13), object(1)
memory usage: 10.8+ KB
None

Head:
            branch  address  city  zip code  january  february  march  april  \
0          Altgeld      NaN   NaN       NaN      316       230    331    404
1   Garfield Ridge      NaN   NaN       NaN     5079      4561   5600   4880
2      Rogers Park      NaN   NaN       NaN     9954      8866  10334  10420
3            Merlo      NaN   NaN       NaN     8128      7446   8751   7102
4  Legler Regional      NaN   NaN       NaN     1357      1038   1077   1095

     may   june   july  august  september  october  november  december     ytd
0    249    294    583     568        419      355       268       280    4297
1   4483   5670   5967    5149       4944     5441      5147      4513   61434
2  10106  10935  11882   12265      10696    11163     10010      9515  126146
3   8065   7862   8108    8844       7964     8011      8356      6840   95477
4    857   1151   1153    1110        905     1007       972       798   12520

Tail:
             branch  address  city  zip code  january  february  march  april  \
75         Clearing      NaN   NaN       NaN     3420      2819   3504   3316
76   Little Village      NaN   NaN       NaN     5735      4749   5270   5210
77  Sulzer Regional      NaN   NaN       NaN    34177     31377  37311  34055
78        Roosevelt      NaN   NaN       NaN     4682      4538   4967   5117
79    McKinley Park      NaN   NaN       NaN     5830      5592   6332   5874

      may   june   july  august  september  october  november  december  \
75   2671   3383   3934    3478       3035     3067      2890      2433
76   4804   4426   5161    5317       5175     5790      5308      4297
77  33331  35679  36438   36798      32274    32816     32316     26751
78   4981   5319   5615    5496       4724     4427      4410      4090
79   5708   6004   5965    5950       5266     5876      5309      4873

       ytd
75   37950
76   61242
77  403323
78   58366
79   68579

Describe:
       address  city  zip code       january      february         march  \
count      0.0   0.0       0.0     80.000000     80.000000     80.000000
mean       NaN   NaN       NaN   5676.050000   5116.950000   5884.887500
std        NaN   NaN       NaN   7115.582764   6447.984216   7412.432642
min        NaN   NaN       NaN      0.000000      0.000000      0.000000
25%        NaN   NaN       NaN   1991.750000   1569.000000   1841.750000
50%        NaN   NaN       NaN   4228.500000   4011.000000   4482.500000
75%        NaN   NaN       NaN   7264.250000   6698.500000   7306.500000
max        NaN   NaN       NaN  52985.000000  47301.000000  53412.000000

             april          may         june          july        august  \
count     80.00000     80.00000     80.00000     80.000000     80.000000
mean    5378.83750   5208.41250   5764.66250   6097.475000   6147.250000
std     6796.84238   6819.51714   7192.98431   7889.075629   8004.629875
min        0.00000      0.00000      0.00000      0.000000      0.000000
25%     1837.00000   1684.25000   1776.50000   1896.000000   2012.750000
50%     4164.00000   3783.00000   4262.50000   4621.500000   4661.000000
75%     6669.50000   6543.25000   7472.75000   7912.250000   8087.750000
max    49640.00000  49826.00000  51680.00000  59485.000000  60577.000000

          september       october      november      december            ytd
count     80.000000     80.000000     80.000000     80.000000      80.000000
mean    5393.800000   5612.537500   5355.175000   4684.262500   66320.300000
std     7008.071895   7218.908722   7190.884526   6230.521747   85166.625251
min        0.000000      0.000000      0.000000      0.000000       0.000000
25%     1797.000000   1929.500000   1667.750000   1549.250000   22232.000000
50%     3951.500000   4479.500000   3936.000000   3410.500000   49699.500000
75%     6815.000000   6881.750000   6846.500000   5977.000000   83956.000000
max    52602.000000  54979.000000  54575.000000  47508.000000  634570.000000

Columns:
Index(['branch', 'address', 'city', 'zip code', 'january', 'february', 'march',
       'april', 'may', 'june', 'july', 'august', 'september', 'october',
       'november', 'december', 'ytd'],
      dtype='object')

In [44]:
# How to get the first/last ten rows of the DataFrame

first_10_rows = df.head(10)
print("\nFirst 10 Rows:")
print(first_10_rows)

last_10_rows = df.tail(10)
print("\nLast 10 Rows:")
print(last_10_rows)

First 10 Rows:
                             branch  address  city  zip code  january  \
0                           Altgeld      NaN   NaN       NaN      316
1                    Garfield Ridge      NaN   NaN       NaN     5079
2                       Rogers Park      NaN   NaN       NaN     9954
3                             Merlo      NaN   NaN       NaN     8128
4                   Legler Regional      NaN   NaN       NaN     1357
5                              King      NaN   NaN       NaN     2746
6                      North Austin      NaN   NaN       NaN     1518
7                            Uptown      NaN   NaN       NaN     6838
8                Wrightwood-Ashburn      NaN   NaN       NaN     2068
9  Harold Washington Library Center      NaN   NaN       NaN    52985

   february  march  april    may   june   july  august  september  october  \
0       230    331    404    249    294    583     568        419      355
1      4561   5600   4880   4483   5670   5967    5149       4944     5441
2      8866  10334  10420  10106  10935  11882   12265      10696    11163
3      7446   8751   7102   8065   7862   8108    8844       7964     8011
4      1038   1077   1095    857   1151   1153    1110        905     1007
5      2109   2450   2208   2182   2560   2431    2769       2548     2854
6      1423   1635   1411   1297   1533   1840    1862       1578     1705
7      6344   7281   6580   6452   7456   7847    8013       6839     6844
8      1911   2097   1907   1565   1929   1904    2074       1813     2052
9     47301  53412  49640  49826  51680  59485   60577      52602    54979

   november  december     ytd
0       268       280    4297
1      5147      4513   61434
2     10010      9515  126146
3      8356      6840   95477
4       972       798   12520
5      2051      2019   28927
6      1414       629   17845
7      6731      5900   83125
8      1646      1507   22473
9     54575     47508  634570

Last 10 Rows:
             branch  address  city  zip code  january  february  march  april  \
70       Near North      NaN   NaN       NaN     9473      8531   9317   8486
71       Scottsdale      NaN   NaN       NaN     2879      2616   3373   2807
72   Portage-Cragin      NaN   NaN       NaN     7500      6941   7699   7441
73           Walker      NaN   NaN       NaN     1934      1503   1900   1757
74         Brainerd      NaN   NaN       NaN     1087       957    990    872
75         Clearing      NaN   NaN       NaN     3420      2819   3504   3316
76   Little Village      NaN   NaN       NaN     5735      4749   5270   5210
77  Sulzer Regional      NaN   NaN       NaN    34177     31377  37311  34055
78        Roosevelt      NaN   NaN       NaN     4682      4538   4967   5117
79    McKinley Park      NaN   NaN       NaN     5830      5592   6332   5874

      may   june   july  august  september  october  november  december  \
70   9239   9930   9859   10012       9740     9065      9125      8144
71   2550   3019   3326    2845       2593     2412      2501      1959
72   6959   7523   8173    8384       7509     7659      7623      6333
73   1586   1769   2204    2057       1749     1800      1675      1575
74    858   1027    944    1236        984     1020      1102      1348
75   2671   3383   3934    3478       3035     3067      2890      2433
76   4804   4426   5161    5317       5175     5790      5308      4297
77  33331  35679  36438   36798      32274    32816     32316     26751
78   4981   5319   5615    5496       4724     4427      4410      4090
79   5708   6004   5965    5950       5266     5876      5309      4873

       ytd
70  110921
71   32880
72   89744
73   21509
74   12425
75   37950
76   61242
77  403323
78   58366
79   68579

In [45]:
# How to get rows between row 30 and row 40

rows_30_to_40 = df.iloc[30:41]  # iloc is zero-based indexing
print("\nRows 30 to 40:")
print(rows_30_to_40)

Rows 30 to 40:
                            branch  address  city  zip code  january  \
30                           Roden      NaN   NaN       NaN     6333
31                       West Lawn      NaN   NaN       NaN     4673
32                     Chicago Bee      NaN   NaN       NaN     1207
33                   South Chicago      NaN   NaN       NaN     2270
34                        Bezazian      NaN   NaN       NaN     8300
35                     South Shore      NaN   NaN       NaN     2861
36                          Austin      NaN   NaN       NaN     1217
37                     Canaryville      NaN   NaN       NaN     1703
38                          Avalon      NaN   NaN       NaN     3814
39                   Jeffery Manor      NaN   NaN       NaN      922
40  Daley, Richard M. - W Humboldt      NaN   NaN       NaN     3000

    february  march  april   may  june  july  august  september  october  \
30      5764   6389   5613  5932  7062  7408    7359       6212     5955
31      4122   4678   4588  3750  4250  4825    4778       3848     4532
32       885   1075    825   917   986  1178    1371       1203     1104
33      2183   2447   2043  1895  2118  2402    2299       2037     2100
34      7707   9213   8705  9262  9401  9363    9105       7876     7964
35      2269   2632   2013  2157  2205  2952    3490       2792     2700
36      1253   1492   1307  1192  1367  1622    1455       1061        0
37      1496   1904   1930  1717  2129  2249    2274       1897     1952
38      3988   3780   3993  3461  3586  3413    3893       4040     4869
39       742    696    740   608   725   770     770        935      766
40      2692   2866   2732  2279  2442  2477    2804       2699     2693

    november  december     ytd
30      5689      4967   74683
31      3942      3062   51048
32      1076       913   12740
33      1624      1562   24980
34      8288      7648  102832
35      2139      2317   30527
36        49         0   12015
37      2059      1717   23027
38      3969      3175   45981
39       737       646    9057
40      2486      2427   31597

In [51]:
# How to get a specific column (e.g., 'year')

year_column = df['ytd']
print("\nYear Column:")
print(year_column.head())
print("\nType of 'year' column:", type(year_column))  # Outputs the type of the column (usually pandas Series)

Year Column:
0      4297
1     61434
2    126146
3     95477
4     12520
Name: ytd, dtype: int64

Type of 'year' column: <class 'pandas.core.series.Series'>

### .pkl file
A `.pkl` file is a serialized Python object saved using the `pickle` library.
It can store DataFrames or other objects in a binary format.

In [48]:
print("\nContents of df_long.pkl:")
print(df_long.head())  # Displays the first 5 rows of the DataFrame loaded from the pickle file.

Contents of df_long.pkl:
                    branch                  address     city  zip code  \
date
2011-01-01     Albany Park     5150 N. Kimball Ave.  Chicago   60625.0
2011-01-01         Altgeld    13281 S. Corliss Ave.  Chicago   60827.0
2011-01-01  Archer Heights      5055 S. Archer Ave.  Chicago   60632.0
2011-01-01          Austin        5615 W. Race Ave.  Chicago   60644.0
2011-01-01   Austin-Irving  6100 W. Irving Park Rd.  Chicago   60634.0

               ytd  year    month  circulation
date
2011-01-01  120059  2011  january         8427
2011-01-01    9611  2011  january         1258
2011-01-01  101951  2011  january         8104
2011-01-01   25527  2011  january         1755
2011-01-01  165634  2011  january        12593

### Purpose of .loc() and .iloc()
`.loc()` is used for label-based indexing (row/column labels).
`.iloc()` is used for integer-based indexing (row/column positions).

In [57]:
print("\nUsing .loc() for label-based indexing:")
print(df.loc[0, 'ytd'])  # Accesses the 'year' column value of the first row.

Using .loc() for label-based indexing:
4297

In [59]:
ytd_col = df.columns.get_loc('ytd') 
print("\nUsing .iloc() for integer-based indexing:")
print(df.iloc[0, ytd_col])

Using .iloc() for integer-based indexing:
4297

In [53]:
# How to sort values in a column?

sorted_df = df.sort_values(by='ytd', ascending=True)
print("\nSorted DataFrame by 'year':")
print(sorted_df.head())

Sorted DataFrame by 'year':
              branch  address  city  zip code  january  february  march  \
56  Woodson Regional      NaN   NaN       NaN        0         0      0
51      Independence      NaN   NaN       NaN        0         0      0
0            Altgeld      NaN   NaN       NaN      316       230    331
39     Jeffery Manor      NaN   NaN       NaN      922       742    696
13      Sherman Park      NaN   NaN       NaN      910       740    832

    april  may  june  july  august  september  october  november  december  \
56      0    0     0     0       0          0        0         0         0
51      0    0     0     0       0          0        0         0         0
0     404  249   294   583     568        419      355       268       280
39    740  608   725   770     770        935      766       737       646
13    816  635   713  1121     976        666      548       615       656

     ytd
56     0
51     0
0   4297
39  9057
13  9228

## Setup your Python and Jupyter environment

### Step 1: Install Python

1.	Download Python:

- Go to the official Python website.
- Download the latest version of Python (e.g., Python 3.x.x) for your operating system (Windows, macOS, or Linux).

2.	Install Python:  

Windows:
- Run the downloaded .exe file.
- IMPORTANT: During installation, check the box that says “Add Python to PATH”.
- Select “Customize installation” (optional, but helpful for control over features).
- Complete the installation.
  
macOS:
- Run the .pkg file and follow the instructions.
- Alternatively, use the terminal command (requires Homebrew):

```
brew install python3
```

Linux:
- Use the package manager (e.g., apt for Ubuntu):

```
sudo apt update
sudo apt install python3 python3-pip
```

3.	Verify Python Installation:

- Open a terminal or command prompt and type:
```
python --version
```

This should show the Python version you installed (e.g., Python 3.10.0).

### Step 2: Install a Package Manager (pip)

pip is the package manager for Python and is usually bundled with Python installations. You can use it to install additional libraries, including Jupyter.

1.Verify pip is installed:
- Open a terminal or command prompt and type:

```
pip --version
```

- If pip is installed, it will display the version.

2.	Upgrade pip (optional):
- It’s a good idea to keep pip up-to-date. In the terminal/command prompt, type:

```
python -m pip install --upgrade pip
```

### Step 3: Set Up a Virtual Environment (Optional but Recommended)

Virtual environments allow you to isolate Python packages and dependencies for different projects.

1.	Create a virtual environment:

Navigate to the directory where you want to set up the environment and run:

```
python -m venv myenv
```

This will create a virtual environment named myenv.

2. Activate the virtual environment:
Windows:

```
myenv\Scripts\activate
```

- macOS/Linux:

```
source myenv/bin/activate
```

3.	Deactivate the virtual environment: (when you’re done working)

```
deactivate
```


### Step 4: Install Jupyter Notebook

Jupyter is installed using pip. Once Python (and pip) is set up, Jupyter can be easily installed.

1. Install Jupyter:

In the terminal or command prompt (and optionally inside your virtual environment), type:

```
pip install jupyter
```

2.	Verify Jupyter Installation:

After installation, type:

```
jupyter --version
```

This should display the version of Jupyter.

### Step 5: Launch Jupyter Notebook

1.	Run Jupyter Notebook:

In your terminal/command prompt, type:

```
jupyter notebook
```

This will open Jupyter in your default web browser.

2.	Create a new notebook:
- In the Jupyter dashboard (the browser window), click New and select Python 3 to create a new notebook.

### Step 6: Install Common Python Packages

Install commonly used libraries such as numpy, pandas, and matplotlib.

1.	Install packages:

```
pip install numpy pandas matplotlib
```

2.	Test packages in Jupyter:
- In a new Jupyter notebook, try importing these libraries:

```
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
```

### Step 7: Configure Jupyter for Better Usage (Optional)

You can enhance your Jupyter environment with additional configurations.

1.	JupyterLab (an advanced alternative to Jupyter Notebook):

Install JupyterLab:
```
pip install jupyterlab
```

Launch JupyterLab by typing:
```
jupyter lab
```

2.	Install Jupyter Extensions (optional but useful):
- Jupyter extensions add useful features like a table of contents, variable inspector, etc.
- First, install jupyter_contrib_nbextensions:

```
pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user
```

- Open Jupyter Notebook and enable the desired extensions from the Nbextensions tab.

### Step 8: Install Integrated Development Environment (IDE) (Optional)

You can install an IDE like VSCode or PyCharm for a better Python development experience.

1. Install Visual Studio Code:
- Download and install Visual Studio Code.
- Install the Python extension from the VSCode marketplace.

2. Configure Jupyter in VSCode:
- Once the Python extension is installed in VSCode, you can open .ipynb files (Jupyter notebooks) directly in VSCode and run them within the IDE.

### Step 9: Explore and Test

Your environment is now ready! Explore Python in Jupyter by writing and running simple code snippets, installing additional libraries as needed for specific projects, and trying out new features.

Troubleshooting Tips:

- Python not recognized: Ensure Python is added to your system’s PATH. On Windows, you can manually add it if you didn’t check the option during installation.
- Permission errors: Run commands with sudo on macOS/Linux or as an administrator on Windows if you encounter permission issues.
- Kernel issues in Jupyter: If you have multiple Python versions, ensure the correct Python environment is linked to Jupyter using the command python -m ipykernel install --user --name=myenv for the correct virtual environment.